[Unit]
Description=Simple API Gateway Metrics
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/quantum0/metrics-api-gateway
User=root
Restart=on-failure
ExecStart=/usr/bin/python3 /home/quantum0/metrics-api-gateway/main.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
